$primary-color: 'blue';
$gary: #18191a;
$bg-color: #efefef;
$description-color: #c3c3c3;
$title-color: #3b3b3b;
$border-color: #efefef;
$shadow-color: #f3f3f3;

// font-size
$font-size0: 7pt;
$font-size1: 9pt;
$font-size2: 11pt;
$font-size3: 13pt;
$font-size4: 14pt;
$font-size5: 16pt;
$font-size6: 17pt;
$font-size7: 18pt;
$font-size8: 20pt;

// margin
$margin1: 8px;
$margin2: 15px;
$margin3: 20px;

// padding
$padding: 15px;

// color
$black: rgba(24, 25, 26, 1);
$black08: rgba(24, 25, 26, 0.8);
$black06: rgba(24, 25, 26, 0.6);
$black05: rgba(24, 25, 26, 0.5);
$black04: rgba(24, 25, 26, 0.4);
$black03: rgba(24, 25, 26, 0.3);
$black02: rgba(24, 25, 26, 0.2);
$black01: rgba(24, 25, 26, 0.1);
$blue: rgb(24, 144, 255);
$blue06: rgba(24, 144, 255, 0.6);
$blue04: rgba(24, 144, 255, 0.4);
$blue02: rgba(24, 144, 255, 0.2);
